<configuration>
	<!-- For the production environment, just put -Dprod=true as an argument to the jvm -->
	<if condition='property("spring.profiles.active").contains("prod")'>
		<then>
			<include resource="logging/prod.logback.xml" />
		</then>
		<else>
			<include resource="logging/dev.logback.xml" />
		</else>
	</if>
</configuration>